parameters:
	ignoreErrors:
		-
			message: '#^Call to method toBe\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 11
			path: tests/Unit/ArrayIteratorTest.php

		-
			message: '#^Call to method toBeTrue\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/ArrayIteratorTest.php

		-
			message: '#^Call to method with\(\) of internal class Pest\\PendingCalls\\TestCall from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 5
			path: tests/Unit/ArrayIteratorTest.php

		-
			message: '#^Call to method toBe\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 25
			path: tests/Unit/ArraySectionIteratorTest.php

		-
			message: '#^Call to method toBeFalse\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/ArraySectionIteratorTest.php

		-
			message: '#^Call to method toBeJson\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 2
			path: tests/Unit/ArraySectionIteratorTest.php

		-
			message: '#^Call to method toBeTrue\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/ArraySectionIteratorTest.php

		-
			message: '#^Call to method toHaveKeys\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/ArraySectionIteratorTest.php

		-
			message: '#^Call to method with\(\) of internal class Pest\\PendingCalls\\TestCall from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 11
			path: tests/Unit/ArraySectionIteratorTest.php

		-
			message: '#^Call to method toBe\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/FullTextTest.php

		-
			message: '#^Call to method toBeGreaterThan\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/FullTextTest.php

		-
			message: '#^Call to method with\(\) of internal class Pest\\PendingCalls\\TestCall from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/FullTextTest.php

		-
			message: '#^Call to method throws\(\) of internal class Pest\\PendingCalls\\TestCall from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/JSONTest.php

		-
			message: '#^Call to method toBe\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 2
			path: tests/Unit/JSONTest.php

		-
			message: '#^Call to method toBeFalse\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/JSONTest.php

		-
			message: '#^Call to method toBeNull\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/JSONTest.php

		-
			message: '#^Call to method toBeTrue\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/JSONTest.php

		-
			message: '#^Call to method throws\(\) of internal class Pest\\PendingCalls\\TestCall from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/JsonDecoderTest.php

		-
			message: '#^Call to method toBeArray\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/JsonDecoderTest.php

		-
			message: '#^Call to method toBeFalse\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/JsonDecoderTest.php

		-
			message: '#^Call to method toBeNull\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/JsonDecoderTest.php

		-
			message: '#^Call to method toBeObject\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/JsonDecoderTest.php

		-
			message: '#^Call to method toBeTrue\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/JsonDecoderTest.php

		-
			message: '#^Call to method with\(\) of internal class Pest\\PendingCalls\\TestCall from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 6
			path: tests/Unit/JsonDecoderTest.php

		-
			message: '#^Call to method toBe\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 8
			path: tests/Unit/StringableTest.php

		-
			message: '#^Call to method toBeTrue\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 3
			path: tests/Unit/StringableTest.php

		-
			message: '#^Parameter \#1 \$string of static method Artemeon\\Support\\StringUtil\:\:of\(\) expects string, null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/StringableTest.php

		-
			message: '#^Call to method toBe\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/TimerTest.php

		-
			message: '#^Call to method toBeLessThan\(\) of internal class Pest\\Mixins\\Expectation\<TValue\> from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 2
			path: tests/Unit/TimerTest.php

		-
			message: '#^Call to method with\(\) of internal class Pest\\PendingCalls\\TestCall from outside its root namespace Pest\.$#'
			identifier: method.internalClass
			count: 1
			path: tests/Unit/TimerTest.php
