parameters:
	ignoreErrors:
		-
			rawMessage: 'Parameter #1 $string of static method Artemeon\Support\StringUtil::of() expects string, null given.'
			identifier: argument.type
			count: 1
			path: tests/Unit/StringableTest.php
