includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - ./src
        - ./tests
    checkUninitializedProperties: true
    # checkImplicitMixed: true
    treatPhpDocTypesAsCertain: false
    checkBenevolentUnionTypes: true
    rememberPossiblyImpureFunctionValues: false
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
